#hider {
    position:absolute;
    top: 0;
    left: 0;
    width:130%;
    height:130%;
    z-index: 99;
    background-color:Black;
    opacity:0.6;
    visibility: hidden;
}

#editor-popup {
    position:absolute;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    z-index:100;
    visibility: hidden;
}

#hider.show-popup {
    visibility: visible;
}

#editor-popup.show-popup {
    visibility: visible;
    animation: popupInstrument 0.1s linear;
    font-family: "Open Sans";
}

#editor-button-row p {
    display: inline-block;
    padding: 0;
}

.left-row {
    flex-direction: row;
    width: 100%;
    text-align: left; /* will center text in <p>, which is not a flex item */
}

#settings-tab-container {
    display: block;
    margin: 0 auto;
}

#settings-tab-container ul {
    list-style: none;
    display: inline;
}

#settings-tab-container ul li {
    background-color: white;
    border-radius: 10%;
}

#settings-tab-container ul li,
#settings-tab-container ul li:visited {
    text-decoration: none;
    color: #666;
    padding-right: 10%;
    text-align: center;
    float: left;
    clear: left;

}

#settings-tab-container ul li:hover {
    background-color: whitesmoke;
}

#settings-tab-container ul li.selected {
    border-right: none;
    background-color: #fff;
    border-left: 8px solid #006699;
}

#settings-tab-content {
    background-color: #fff;
    margin: 0 auto;
    width: 90%;
    border: 1px solid #ed33cf;
    padding: 10px;
    display: inline-block;
}

.part-editor {
    visibility: hidden;

}
.part-editor.show{
    z-index: 100;
    visibility: visible;
}

.part-settings {
    visibility: hidden;

}
.part-settings.show{
    z-index: 100;
    visibility: visible;
}

.editor-part-container {
    padding: 0 10px 0 10px;
}

.editor-part-container svg {
    width: 100%;
}

.part-editor-svg-container {
    border: 1px dotted cornflowerblue;
    margin: 10px;
}

.static-pattern-selector {
    visibility: hidden;
}
.static-pattern-selector.show{
    z-index: 100;
    visibility: visible;
}
.instrument-info {
    visibility: hidden;
}
.instrument-info.show {
    z-index: 100;
    visibility: visible;
}

td {
    border:1px solid white;

}

td svg {
    display: inline-table;
    margin: 5px;
}

td:hover {
    border-color: #ed33cf;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 2px #ed33cf;
}

#editor-button-row {
    margin: 10px;
}
