/*
Slider Style Made Here:
http://danielstern.ca/range.css/#/

*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 11.75px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.5px;
    cursor: pointer;
    background: #00ff7f;
    border-radius: 10px;
    border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
    border: 0.7px solid #ed33cf;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11.75px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1aff8c;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 6.5px;
    cursor: pointer;
    background: #00ff7f;
    border-radius: 5px;
    border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
    border: 0.7px solid #ed33cf;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 6.5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #00e672;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
}
input[type=range]::-ms-fill-upper {
    background: #00ff7f;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
}
input[type=range]::-ms-thumb {
    border: 0.7px solid #ed33cf;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    height: 6.5px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #00ff7f;
}
input[type=range]:focus::-ms-fill-upper {
    background: #1aff8c;
}