.container {
    display: flex;           /* establish flex container */
    flex-direction: row;  /* make main axis horizontal */
    justify-content: space-between; /* center items vertically, in this case */
    align-items: flex-start;     /* center items horizontally, in this case */
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans';
    border: 1px dotted cornflowerblue;
}

.sub-container {
    flex-direction: column;
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    text-align: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

svg {
    margin: 0 auto;
    padding-top: 5px;
}

.elaboration {
    width: 133%;
}

.row {
    flex-direction: row;
    width: 100%;
    text-align: center; /* will center text in <p>, which is not a flex item */
}


p {
    font-size: large;
    font-weight: 500;
}

.pokok-editor {
    margin: 5px;
    border: 1px solid #ED33CF;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px #555
}

.instrument {
    border: 1px solid #ED33CF;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px 0.5px #555
}

.controls {
    flex-direction: column;
    border-bottom: 1px dotted cornflowerblue;
    margin: 10px;
}

.control-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;     /* center items vertically, in this case */
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px dotted cornflowerblue;
}

.control-item {
    width: 50%;
}

.mute-button {
    border: 1px solid #ED33CF;
    border-radius: 3px;
    padding:3px;
    box-shadow: 0.5px 0.5px 0.5px #555
}

.mute-button:hover{
    cursor: pointer;
}

.gatra {
    font-size: 40px;
    width: 50%;
    padding: 10px;
    display: inline-block;
}

.reyong {
    align-items: center;
    width: 100%;
}

.pot {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 1px solid #ED33CF;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 25px;
    display: inline-flex;
    /*box-shadow: inset 0px 0px 10px #ED33CF;*/
}


.pot:hover {
    background-color: springgreen;
}

.active {
    animation-name: example;
    animation-duration: 0.1s;
    background-color: #ED33CF;
    box-shadow: inset 0px 0px 10px #fff;
    color: #fff;
}

.key {
    width: 20px;
    height: 40px;
    margin: 5px;
    border: 1px solid #ED33CF;
    display: inline-flex;
    /*box-shadow: inset 0px 0px 10px #ED33CF;*/
}

.key:hover {
    background-color: springgreen;
}

.button {
    width:30%;
    margin: 0 auto;
    height:5vh;
    line-height: 5vh;
    text-align: center;
    vertical-align: text-bottom;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0.5px 0.5px 0.5px #555

}

#start {
    background-color: springgreen;
}

#stop {
    background-color: #ED33CF;
}

.dropdown-container {
    align-self: flex-end;
    width: 50%;
}

.dropdown {
    align-self: flex-end;
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    cursor: pointer;
    background-color: springgreen;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    color: black;
    text-align: left;
    min-width: 40px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p:hover {
    background-color: #fff;
}

.slider-container {
    padding: 20px;
    margin: 0 auto;
    width: 60%;
}

#tempo-slider {
    width: 100%;
}

#mixer-controls {
    margin: 10px;
    padding: 10px;
}

.volume-slider-container {
    width:20%;
    display: inline-block;
    margin:10px;
}

@keyframes example {
    from {background-color: #fff;
          box-shadow: inset 0px 0px 0px #E871E4;}
    to {background-color: #ED33CF;
        box-shadow: inset 0px 0px 40px #fff ;}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(270deg);}
}

@keyframes show {
    from {display: none;}
    to {display:flex}
}
