
i {
    font-family: 'FontAwesome';
    font-style: normal;
}

svg {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}


p {
    font-size: 3vh;
    font-weight: 200;
}

.title {
    font-size: 5vh;
}
.container-fluid {
    margin:0 auto;
    width: 80vw;
    text-align: center;
}

.fa-cog {
    font-size: large;
}

.fa-cog:hover {
    color: #ED33CF;
    animation: rotate 5s linear infinite;
}

#pokok-editor {
    width: 100%;
    border: 1px solid #ED33CF;
    border-radius: 15px;
    text-align: center;
    font-size: 5vh;
    resize: none;
}

.instrument {
    background: white;
    margin: 2.5%;
    border: 1px solid #ED33CF;
    border-radius: 15px;
    height: 100%;
}

.controls {
    border-bottom: 1px dotted cornflowerblue;
    margin: 10px;
}

.control-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;     /* center items vertically, in this case */
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px dotted cornflowerblue;
}

.control-item {
    width: 50%;
}

.dropdown-container:hover,
.instrument-name:hover {
    animation: glow 0.2s linear;
    color:#ED33CF;
    cursor: pointer;
}

.mute-button {
    border: 1px solid #ED33CF;
    border-radius: 3px;
    padding:3px;
}

.mute-button:hover{
    cursor: pointer;
    animation: float 0.5s;
}

.mute-button.active {
    color:white;
    background-color: #ED33CF;
    animation: blink 1s linear infinite;
}

.row-fluid {
    text-align: center;
}

.key-container {
    width: 100%;
    height: 5vh;
}

.pot {
    width: 7%;
    height: 75%;
    margin: 0.5%;
    border: 1px solid #ED33CF;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
}

.pot:hover {
    background-color: springgreen;
}


.pot.active {
    animation: visualDecay 0.5s;
}

.key {
    width: 3%;
    height: 75%;
    margin: 1%;
    border: 1px solid #ED33CF;
    display: inline-flex;
}

.keyText {
    text-align: center;
    margin: auto;
}

.key:hover {
    background-color: springgreen;
}

.key.active {
    animation: visualDecay 0.5s;
}

.button {
    width:30%;
    margin: 0 auto;
    margin-top: 10px;
    height:5vh;
    line-height: 5vh;
    text-align: center;
    vertical-align: text-bottom;
    color: white;
    font-size: 2vh;
    border-radius: 5px;
}

.close {
    width: 15px;
    background-color: cornflowerblue;
    border-radius: 5px;
}

.close::before {
    content: "X";
    color: #ffffff;
}

#start {
    background-color: springgreen;
}

#stop {
    background-color: #ED33CF;
}


/*Dropdowns*/
.dropdown-container {
    align-self: flex-end;
    width: 50%;
}

.dropdown {
    align-self: flex-end;
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown-content.show {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

.dropdown-content {
    position: absolute;
    background-color: #fff;
    color: black;
    text-align: left;
    min-width: 40px;
    padding: 0 10px 0 10px;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2em);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropdown-content p:hover {
    color: #ED33CF;
}

.slider-container {
    padding: 20px;
    margin: 0 auto;
    width: 60%;
}

#tempo-slider {
    width: 100%;
}

#mixer-controls {
    margin: 10px;
    padding: 10px;
}

.main-text {
    text-align: center;
}

.volume-slider-container {
    width:80%;
    display: inline-block;
    margin:10px;
}

@keyframes glow {
    from {color: black;}
    to {color: #ED33CF;}
}

@keyframes float {
    from {box-shadow: 0px 0px 0px;}
    to {box-shadow: 1px 1px 1px #555;}
}

@keyframes show {
    from {display: none;}
    to {display:flex}
}

@keyframes ripple {
    0% {transform:scale(.10); opacity: 0;}
    50% {transform:scale(.75); opacity:1;}
}

@keyframes visualDecay {
    0% {background:springgreen;}
    100% {background:white;}
}

@keyframes blink {
    0%{opacity:1}
    100%{opacity: 0}
}

@keyframes rotate {
    50% {transform:rotate(180deg);}
    100% {transform:rotate(360deg);}
}

@keyframes popupInstrument {
    0% {transform:scale(.50); opacity: 0;}
    50% {transform:scale(.75); opacity:.5;}
    100% {transform:scale(1); opacity:1;}
}